* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff5f5;
}

#logoSenai {
    width: 120px;
    margin-left: 70px;
}

.register-container {
    background-color: #ffe5e5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(179, 0, 0, 0.4);
    width: 300px;
}

h1 {
    color: #b30000;
    text-align: center;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;

}

button:hover {
    background-color: #b30000;
}

p {
    text-align: center;
    margin-top: 15px;
}

#resendLogin{
    color: black;
    display: flex;
    justify-content: center;
}
.reset-container{
    background-color: #ffe5e5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(179, 0, 0, 0.4);
    width: 300px;
}